In [142]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from sklearn.pipeline import Pipeline

In [176]:
#Read the data
df=pd.read_csv("C:\\Users\\gerke\\Desktop\\Dataset_DL.csv")

In [177]:
df.head()

               text  Emotion
1  #strawbeeryblond    HAPPY
2            #happy    HAPPY
3           #nature  NEUTRAL
4           #injury      SAD
5           #spring    HAPPY

In [178]:
df['Emotion'].value_counts()

HAPPY      31
SAD        20
NEUTRAL    15
Name: Emotion, dtype: int64

In [179]:
#Sentiment Analysis
from textblob import TextBlob

In [180]:
def get_sentiment(text): 
    blob = TextBlob(text)
    sentiment = blob.sentiment.polarity
    if sentiment > 0:
        result = "Positive"
    elif sentiment < 0:
        result = "Negative"
    else:
        result = "Neutral"
    return result

In [181]:
df['Sentiment'] = df['text'].apply(get_sentiment)

In [182]:
df.head()

               text  Emotion Sentiment
1  #strawbeeryblond    HAPPY   Neutral
2            #happy    HAPPY  Positive
3           #nature  NEUTRAL   Neutral
4           #injury      SAD   Neutral
5           #spring    HAPPY   Neutral

In [183]:
df.groupby(['Emotion', 'Sentiment']).size()

Emotion  Sentiment
HAPPY    Neutral      22
         Positive      9
NEUTRAL  Neutral      15
SAD      Negative     11
         Neutral       9
dtype: int64

In [184]:
df

                text  Emotion Sentiment
1   #strawbeeryblond    HAPPY   Neutral
2             #happy    HAPPY  Positive
3            #nature  NEUTRAL   Neutral
4            #injury      SAD   Neutral
5            #spring    HAPPY   Neutral
..               ...      ...       ...
62            #nasty      SAD  Negative
63             #love    HAPPY  Positive
64     #broken heart      SAD  Negative
65        #heartsick      SAD   Neutral
66          #wistful      SAD   Neutral

[66 rows x 3 columns]

In [207]:
Xfeatures = df['text']
ylabels = df['Emotion']

In [208]:
#  Split Data
X_train,X_test,y_train,y_test = train_test_split(Xfeatures,ylabels,test_size=0.3,random_state=42)

In [209]:
pipe_lr = Pipeline(steps=[('cv',CountVectorizer()),('lr',LogisticRegression())])

In [210]:
pipe_lr.fit(X_train,y_train)

Pipeline(steps=[('cv', CountVectorizer()), ('lr', LogisticRegression())])

In [211]:
pipe_lr

Pipeline(steps=[('cv', CountVectorizer()), ('lr', LogisticRegression())])

In [212]:
pipe_lr.score(X_test,y_test)

0.45

In [235]:
ex1 = "#bad day"

In [236]:
pipe_lr.predict([ex1])

array(['SAD'], dtype=object)